In [1]:
from matplotlib.pyplot import draw, fill
import pyrender
import trimesh
from trimesh import remesh
import pandas as pd
import numpy as np
from trimesh import Trimesh
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import cm
import math
import os
import matplotlib.mlab as mlab
import seaborn as sns
import skeletor as sk
from view_data import view_mesh
import copy
from sklearn.preprocessing import MinMaxScaler
from project_statistics import get_outliers
from create_dataset import load_dataset,dir_to_sorted_file_list
from trimesh.repair import fill_holes
from trimesh.points import PointCloud

import random

Jupyter environment detected. Enabling Open3D WebVisualizer.
[Open3D INFO] WebRTC GUI backend enabled.
[Open3D INFO] WebRTCWindowSystem: HTTP handshake server disabled.

In [63]:
data_normalized = pd.read_csv('normalized_features_df.csv')

In [64]:
data_fixed = pd.read_csv('fixed_features_df.csv')

In [66]:
data = pd.read_csv('features_corrected_df.csv')

In [67]:
data.describe()

,id,surface_area,compactness,sphericity,volume,diameter,rectangulairty,eccentricity
count,1814.000000,1814.000000,1.814000e+03,1.814000e+03,1.814000e+03,1814.0,1.814000e+03,1.813000e+03
mean,906.500000,1.682419,2.370985e+15,4.040933e-01,1.314545e-01,1.0,4.563574e-01,9.637006e+02
std,523.801012,1.759210,1.009828e+17,2.071951e-01,1.293569e-01,0.0,1.830877e-01,3.638733e+04
min,0.000000,0.029785,1.091683e+00,2.325059e-19,1.176981e-10,1.0,1.445916e-10,8.526999e-13
25%,453.250000,0.635022,1.812822e+00,2.425628e-01,4.041573e-02,1.0,3.249716e-01,2.249250e-01
50%,906.500000,1.166979,2.523645e+00,3.962522e-01,8.366671e-02,1.0,4.309853e-01,1.131218e+00
75%,1359.750000,2.120572,4.122648e+00,5.516260e-01,1.854925e-01,1.0,5.579238e-01,4.587717e+00
max,1813.000000,34.635823,4.300967e+18,9.160170e-01,9.949229e-01,1.0,1.000000e+00,1.541949e+06

In [68]:
data_fixed.describe()

,id,surface_area,compactness,sphericity,volume,diameter,rectangulairty,eccentricity
count,1814.000000,1814.000000,1814.000000,1814.000000,1814.000000,1814.0,1814.000000,1.813000e+03
mean,906.500000,1.682419,23.605474,4.290284,0.131645,1.0,0.481050,9.637006e+02
std,523.801012,1.759210,523.212320,29.467328,0.129171,0.0,0.250417,3.638733e+04
min,0.000000,0.029785,0.001066,0.000045,0.008233,1.0,0.010114,8.526999e-13
25%,453.250000,0.635022,0.817415,0.170113,0.040416,1.0,0.332857,2.249250e-01
50%,906.500000,1.166979,2.058936,0.485688,0.083667,1.0,0.440785,1.131218e+00
75%,1359.750000,2.120572,5.878437,1.223369,0.185493,1.0,0.578376,4.587717e+00
max,1813.000000,34.635823,22109.240816,937.812589,0.994923,1.0,3.839250,1.541949e+06

In [69]:
data_normalized.describe()

,id,surface_area,compactness,sphericity,volume,diameter,rectangulairty,eccentricity
count,1814.000000,1.814000e+03,1.814000e+03,1.814000e+03,1.814000e+03,0.0,1.814000e+03,1.813000e+03
mean,906.500000,-4.700393e-17,-1.958497e-18,1.566798e-17,1.253438e-16,NaN,-1.096758e-16,-1.371704e-17
std,523.801012,1.000276e+00,1.000276e+00,1.000276e+00,1.000276e+00,NaN,1.000276e+00,1.000276e+00
min,0.000000,-9.396772e-01,-4.512684e-02,-1.456332e-01,-9.556786e-01,NaN,-1.881128e+00,-2.649182e-02
25%,453.250000,-5.955436e-01,-4.356614e-02,-1.398602e-01,-7.064604e-01,NaN,-5.919498e-01,-2.648564e-02
50%,906.500000,-2.930762e-01,-4.119261e-02,-1.291480e-01,-3.715338e-01,NaN,-1.608342e-01,-2.646072e-02
75%,1359.750000,2.491312e-01,-3.389050e-02,-1.041072e-01,4.169840e-01,NaN,3.887640e-01,-2.636570e-02
max,1813.000000,1.873710e+01,4.222325e+01,3.168865e+01,6.685044e+00,NaN,1.341415e+01,4.236118e+01

In [71]:
data_normalized['diameter'] = 1.0

In [74]:
data_normalized.to_csv (r'normalized_features_df.csv', index = False, header=True)